@tailwind base;

@font-face {
  font-family: "baloo";
  src: url("/fonts/baloo/baloo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply text-white;
  background-image: radial-gradient(
    circle,
    rgba(152, 11, 238, 1) 0%,
    rgba(118, 15, 181, 1) 35%,
    rgba(58, 13, 85, 1) 100%
  );
}

h1 {
  @apply text-3xl font-semibold mb-4 text-yellow-300 font-display;
}

h2 {
  @apply text-2xl font-semibold mb-3 text-yellow-300 font-display;
}

input, textarea {
  @apply border-2 border-gray-500 rounded-md p-2;
}

fieldset {
  @apply border-2 border-gray-300 rounded-md p-2;
}

form, label {
  @apply grid grid-cols-1 gap-4;
}

button, [type="submit"], [type="button"], [type="reset"], .btn {
  @apply cursor-pointer inline-flex items-center justify-center font-bold py-1 px-4 appearance-none hover:bg-yellow-400 bg-yellow-500 text-black py-2 px-4 rounded-md;
}

li::before {
  content: '🤪'
}


@tailwind components;
@tailwind utilities;

